<!-- frontend/templates/patients_list.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>Patients List</h1>
    <ul>
        {% for patient in patients %}
            <li>
                <strong>ID:</strong> {{ patient.patient_id }}<br>
                <strong>Name:</strong> {{ patient.first_name }} {{ patient.last_name }}<br>
                <strong>Date of Birth:</strong> {{ patient.date_of_birth }}<br>
                <strong>Gender:</strong> {{ patient.gender }}<br>
                <strong>Contact Number:</strong> {{ patient.contact_number }}<br>
                <strong>Email:</strong> {{ patient.email }}<br>
                <strong>Address:</strong> {{ patient.address }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
